<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="new">Add New Message</a>
    
    <ul>
      <% for (let message of messages) { %>
        <li><%= message.text %> <br>
        <%= message.user %> <br>
        <%= message.added %></li>
      <% } %>
    </ul>



  </body>
</html>
